streamlit
pandas
plotly
python-dotenv
influxdb-client




matplotlib
lightgbm
streamlit
pandas
plotly
python-dotenv
influxdb-client
matplotlib
lightgbm
scikit-learn
streamlit
pandas
plotly
python-dotenv
influxdb-client
matplotlib
lightgbm
scikit-learn
psycopg2-binary
